## $site here is the SiteModel; $pageLength was set by directory.vm.
## Restyled A-Z weblog directory: the same fd-dir/fd-blog grid weblog.vm
## uses for its "Weblogs" preview, plus the letter index and paging that
## make this the FULL directory (weblog.vm only ever shows a handful of
## recently-created weblogs).
#if($model.getRequestParameter("letter"))
    #set($chosenLetter = $model.getRequestParameter("letter"))
#end

#set($weblogLetterMap = $site.getWeblogHandleLetterMap())
<p class="fd-letters">
#set($firstLetterDone = 0)
#foreach($letter in $weblogLetterMap.keySet())
    #if($firstLetterDone == 1) &middot; #end
    #set($firstLetterDone = 1)
    #set($letterCount = $weblogLetterMap.get($letter))
    #if($letterCount > 0)
       <a class="#if($letter == $chosenLetter)current#end" href="?letter=$letter" title="$letterCount weblog#if($letterCount != 1)s#end">$letter</a>
    #else
       <span>$letter</span>
    #end
#end
</p>

#if($chosenLetter)
   <p class="fd-label">Weblogs starting with $utils.escapeHTML($chosenLetter)</p>
#else
   <p class="fd-label">All weblogs</p>
#end

#set($weblogsPager = $site.getWeblogsByLetterPager($chosenLetter, -1, $pageLength))
<div class="fd-dir">
#foreach($loopblog in $weblogsPager.items)
    <a class="fd-blog" href="$utils.escapeHTML($loopblog.absoluteURL)">
        <p class="n">$loopblog.name</p>
        <p class="h"><span class="live"></span>$utils.escapeHTML($loopblog.handle)</p>
    </a>
#end
</div>

<nav class="fd-pager">
#if($weblogsPager.prevLink)
   <a href="$weblogsPager.prevLink">&lt; $weblogsPager.prevName</a>
#end
#if($weblogsPager.nextLink && $weblogsPager.prevLink)
   &nbsp;|&nbsp;
#end
#if($weblogsPager.nextLink)
   <a href="$weblogsPager.nextLink">$weblogsPager.nextName &gt;</a>
#end
</nav>
