## $profileWeblog here is a WeblogWrapper looked up by directory.vm via
## $site.getWeblog($handle). Restyled single-weblog profile: name/handle/
## about as an fd-blog-style card, its member list, and its recent posts as
## fd-post rows (the same row markup _entry.vm renders on the home page).
<p class="fd-label">Weblog</p>
<div class="fd-dir">
    <a class="fd-blog" href="$url.absoluteSite/$profileWeblog.handle">
        <p class="n">$profileWeblog.name</p>
        <p class="h"><span class="live"></span>$utils.escapeHTML($profileWeblog.handle)</p>
        #if($utils.isNotEmpty($profileWeblog.about))
        <p class="desc">$utils.escapeHTML($profileWeblog.about)</p>
        #end
    </a>
</div>

<p class="fd-label">Weblog users</p>
#set($users = $site.getWeblogsUsers($profileWeblog.handle))
<table class="fd-table">
    <thead><tr><th scope="col">Screen name</th></tr></thead>
    <tbody>
    #foreach($user in $users)
        <tr><td>$utils.escapeHTML($user.screenName)</td></tr>
    #end
    </tbody>
</table>

<p class="fd-label">Recent posts</p>
#set($entriesPager = $site.getWeblogEntriesPager($profileWeblog, 90, 5))
#if($entriesPager.items.size() > 0)
    <div class="fd-posts">
    #foreach($entry in $entriesPager.items)
        #includeTemplate($model.weblog "_entry")
    #end
    </div>
#else
    <p class="fd-tag">No posts in past 90 days</p>
#end
