#includeTemplate($model.weblog "_header")

#set($maxResults = 25)
#set($since = 365)

#if($model.getRequestParameter("weblog"))
    #set($handle = $model.getRequestParameter("weblog"))
    <p class="fd-crumb"><a href="?letter=$utils.left($handle,1)">&larr; Back to weblog directory</a></p>
    #set($profileWeblog = $site.getWeblog($handle))
    #includeTemplate($model.weblog "_blogprofile")
#else
    #set($pageLength = $maxResults)
    #includeTemplate($model.weblog "_blogdirectory")
#end

#includeTemplate($model.weblog "_footer")
