<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="org.apache.roller.weblogger.ui.controllers"/>

    <mvc:annotation-driven/>

    <!-- Serve webjars from classpath (replaces javax-based WebjarsServlet) -->
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

    <mvc:interceptors>
        <bean class="org.apache.roller.weblogger.ui.controllers.RollerHandlerInterceptor"/>
    </mvc:interceptors>

    <!-- Message source for i18n (uses existing ApplicationResources*.properties) -->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="ApplicationResources"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- Multipart file upload support -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/>

    <!-- View resolver: lightweight Tiles replacement -->
    <bean id="rollerViewResolver"
          class="org.apache.roller.weblogger.ui.controllers.RollerViewResolver"
          init-method="init">
        <property name="order" value="1"/>
    </bean>

    <!-- Fallback for plain JSP views (redirect:, forward:, or direct paths) -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsps/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="2"/>
    </bean>

</beans>
